* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Header */

.navigation {
  width: 100%;
  display: flex;
  padding: 20px 0px;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 50%,
    #e9f1fc 50%,
    #e9f1fc 100%
  );
}

.navigation::after{
  content: '';
  width: 500px;
  height: 75px;
  top:0;
  left: 50%;
  position: absolute;
  box-shadow: 0px 0px 15px#e7f3fc;
}

.navigation > a {
  width: fit-content;
  font-size: 24px;
  font-family: 'Avenir LT Pro 65 Medium';
  color: rgba(56, 88, 214, 255);
  z-index: 200;
  text-align: left;
  margin-left: 80px;
}

.navigation > .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 0 245px;
  list-style: none;
}

.navigation > .menu > button {
  padding: 12px 20px;
  border: none;
  background: rgba(54, 86, 212, 255);
  border-radius: 4px;
  color: #fff;
  font-family: "Rotunda";
  font-size: 15px;
  letter-spacing: 0.6px;
}

.menu > li {
  font-size: 15px;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Stolzl Medium";
  color: #7b899f;
}

/* Banner */
.banner {
  display: flex;  
}

/* Image */
.banner > img {
  z-index: 200;
}

.banner > * {
  width: 50%;
}

.banner > article:not(.triangle-down) {
  padding-top: 70px;
  padding-bottom: 20px;
  padding-left: 80px;
}

.banner > article > .triangle-down {
  width: 75px;
  height: 75px;
  /* background: tomato; */
  background: linear-gradient(135deg, #fff 50%, #f4f6fb 50%);
  transform: rotate(45deg);
  margin-top: -108px;
  z-index: 100;
  margin-left: -30px;
}

.banner > article > h1 {
  font-size: 55px;
  font-family: 'Avenir LT Pro 65 Medium';
  width: 370px;
  line-height: 60px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: #1f3e72;
}

.banner > article > p {
  width: 350px;
  margin-bottom: 40px;
  color: rgba(109,123,147,0.8);
  font-family: "TT Commons W01";
  font-size: 19px;
  line-height: 30px;
}

.triangle-left {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  position: absolute;
  margin-left: 545px;
  margin-top: 70px;
  background: linear-gradient(45deg, #f4f6fb 50%, #fff 50%);
  z-index: 100;
}

.banner > article > .badges {
  margin-bottom: 20px;
  color: #203e72;
  font-size: 13px;
  font-family: "Stolzl Medium";
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.banner > article > .badges > div{
  display: flex;
  align-items: center;
}

.banner > article > .badges > div > span{
  color: #ffd012;
  margin-right: 10px;
}

.banner > article > .scheduleTitle{
  margin-top: 300px;
  width: fit-content;
}

.banner > article > .scheduleTitle > span{
  padding: 5px;
  background: #f1f5ff;
  border-radius: 5px;
  color: #2949c7;
  font-size: 15px;
}

.banner > article > .scheduleTitle > b {
  color: #203f73;
  font-size: 19px;
  font-family: "TT Commons W01";
  margin-left: 8px;
}

/* Schedule */
.banner > article > .schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255, 0.93);
  width: 800px;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  z-index: 300;
  border: 2px solid #fff;
  border-radius:5px;
}

.banner > article > .schedule::before{
  content: "";
  width: 571px;
  height: 117px;
  position: absolute;
  z-index: -10;
  border-radius: 5px;
  box-shadow: 0px 20px 35px #e4ecfa;
}

.banner > article > .schedule > div{
  width: 200px;
  padding: 10px;
}

.banner > article > .schedule > div > b{
  color: #203f73;
  font-size: 19px;
  font-family: "TT Commons W01";
  /* width: 100px;  */
  text-align: left;
}

.banner > article > .schedule > div > div{
  margin-bottom: 10px;
  font-family: "TT Commons W01";
  color: #6d7b93;
  font-size: 20px;
  width: fit-content;
}

.banner > article > .schedule > div > div > span{
  padding: 5px;
  background: #f1f5ff;
  border-radius: 5px;
  color: #2949c7;
  font-size: 15px;
  margin-right: 8px;  
}

.banner > article > .schedule > div > b{
  text-align: right;
  margin-left: 38px;
}

.banner > article > .schedule > .submit {
  /* padding: 5px 10px; */
  height: 45px;
  width: 125px;
  margin-left: 40px;
  margin-right: 15px;
  border: none;
  background: rgba(54, 86, 212, 255);
  border-radius: 4px;
  color: #fff;
  font-family: "Rotunda";
  letter-spacing: 0.5px;
}

/* brands */
/* .vaccinesBrands {
  display: flex;
  justify-content: space-evenly;
  margin: 40px auto;
  width: 90%;  
}

.vaccinesBrands > img {
  width: 20%;
  filter: grayscale(1);
  opacity: 0.1;
} */

.vaccinesBrands{
  width: 988px;
  height: 61px;
  background-image: url('./assets/img/banner5.png');
  background-repeat: no-repeat;
  margin: 70px auto;
  filter: grayscale(1);
  opacity: 0.1;
}

/* Section of reasons */
.reasons {
  padding-left: 110px;
  padding-bottom: 50px;
}

.reasons > .up-title {
    display: flex;
}

.reasons > .up-title > .left-title{
    padding-top: 60px;
}

.reasons > .up-title > .left-title > h3 {
  font-size: 35px;
  font-family: 'Avenir LT Pro 65 Medium';;
  color: #1f3e72;
}

.reasons > .up-title > .left-title > p {
  margin-top: 25px;
  width: 430px;
  color: rgba(109,123,147,0.8);
  font-family: "TT Commons W01";
  font-size: 19px;
  line-height: 30px;
}

.reasons > .up-title > .decorations_three {
  margin-left: auto;  
  margin-bottom: 50px;
}

.reasons > .up-title > .decorations_three > .line{
    border: 2px solid rgba(244, 246, 251, 0.5);
    width: 600px;
}

.reasons > .up-title > .decorations_three > .triangle-up-left {
  width: 75px;
  height: 75px;
  background: linear-gradient(135deg, #fff 50%, #f4f6fb 50%);
  margin-left: auto;
}

.reasons > .up-title > .decorations_three > .triangle-down-left {
  width: 75px;
  height: 75px;
  background: linear-gradient(45deg, #fff 50%, #f4f6fb 50%);
  margin-left: auto;
}

.reasons > .cards {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 40px;
}


.reasons > .cards > article {
  border: 3px solid rgba(244, 246, 251, 0.6);
  padding: 30px 30px 40px;
  width: 22%;
  border-radius: 10px;
  background: #fff;
}

.reasons > .cards > .hovered{
  position: relative;
  border: none;
}

.reasons > .cards > .hovered > span{
  border: 1px solid white;
}

.reasons > .cards > .hovered::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 220px;
  top: 20px;
  left: 0;
  z-index: -1;
  box-shadow: 0px 80px 35px 9px#e8effb;
  border-radius: 15px;
}

.reasons > .cards > article > span{
  padding: 10px;
  background: #f1f5ff;
  border-radius: 7px;
  color: #2949c7;
  margin-bottom: 15px;
  transform: rotateX(-20deg);
}

.reasons > .cards > article > .title {
  width: 160px;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "Cerebri Sans";
  color: #1f3e72;
  font-weight: lighter;
}

.reasons > .cards > article > .description {
  width: 200px;
  margin-bottom: 30px;
  color: rgba(109,123,147,1.0 );
  font-family: "TT Commons W01";
  font-size: 16px;
  line-height: 20px;
}

/* Preparations */
.preparations {
  display: flex;
  width: 100%;
  /* background: tomato; */
}

.preparations > * {
  width: 50%;
}

.preparations > .decorations > .line-2{
    border: 2px solid rgba(244, 246, 251, 0.5);
    width: 550px;
}

.preparations > .decorations > .triangle-up-right {
  width: 75px;
  height: 75px;
  background: linear-gradient(225deg, #fff 50%, #f4f6fb 50%);
}

.preparations > .decorations > .triangle-down-right {
  width: 75px;
  height: 75px;
  background: linear-gradient(315deg, #fff 50%, #f4f6fb 50%);
}

.preparations > .decorations > .square {
  background: #2872db;
  margin-right: 50px;
  width: 550px;
  height: 390px;
  margin-top: 100px;
  position: relative;
  z-index: 100;
}

.preparations > .decorations > .square > img {
  position: absolute;
  z-index: 200;
  bottom: 0;
  left: 120px;
  width: 350px;
  height: 500px;
}

/* Preparations Reasons */

.preparations > article > h4 {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: 'Avenir LT Pro 65 Medium';;
  color: #1f3e72;
}

.preparations > article > p {
  width: 450px;
  color: rgba(109,123,147,1.0);
  font-family: "TT Commons W01";
  font-size: 19px;
  line-height: 30px;
}

.preparations > article > div {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 390px;
}

.preparations > article > div > .accordion {
  padding: 10px;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.preparations > article > div > .accordion > span{
  padding: 5px;
  background: #f1f5ff;
  border-radius: 5px;
  color: #2949c7;
  font-size: 15px;
  margin-right: 8px;
}

.preparations > article > div > .accordion:nth-child(2){
  box-shadow: 0px 12px 30px #e7f3fc;
}

.preparations > article > div > .accordion > b{
  width: 250px;
  font-size: 16px;
  font-family: "Cerebri Sans";
  color: #1f3e72;
  /* background: tomato; */
  height: 25px;
}

.opened{
  /* background: green; */
  padding: 10px;
  margin-left: 20px;

  color: rgba(109,123,147,0.8);
  font-family: "TT Commons W01";
  font-size: 16px;
  line-height: 20px;
  width: 80%;  
}

.preparations > article > div > .accordion > button{
  margin-left: auto;
  border: none;
  color: #2949c7;
}

/* Emergencies */
.emergency_contact {
  display: flex;
  margin-top: 50px;  
  width: 100%;
}

.emergency_contact > * {
  width: 50%;
}

.emergency_contact > .decorations_two > .line{
    border: 2px solid rgba(244, 246, 251, 0.5);
    width: 600px;
}

.emergency_contact > .decorations_two > .triangle-up-left {
  width: 75px;
  height: 75px;
  background: linear-gradient(135deg, #fff 50%, #f4f6fb 50%);
  margin-left: auto;
}

.emergency_contact > .decorations_two > .triangle-down-left {
  width: 75px;
  height: 75px;
  background: linear-gradient(45deg, #fff 50%, #f4f6fb 50%);
  margin-left: auto;
}

.emergency_contact > .decorations_two > .square {
  background: #2872db;
  margin-left: auto;
  width: 550px;
  height: 400px;
  margin-top: 100px;
  position: relative;
  z-index: 100;
}

.emergency_contact > .decorations_two > .square > img {
  position: absolute;
  z-index: 200;
  bottom: 0px;
  left: 100px;
  width: 360px;
}

.emergency_contact > article > h4 {
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-left: 100px;
  width: fit-content;
  font-family: 'Avenir LT Pro 65 Medium';;
  color: #1f3e72;
}

.emergency_contact > article > p {
  padding-left: 100px;
  width: 560px;
  color: rgba(109,123,147,1.0);
  font-family: "TT Commons W01";
  font-size: 19px;
  line-height: 28px;
}

.emergency_contact > article > div {
  padding-left: 90px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
  width: 100%;
  height: 405px;
}

.emergency_contact > article > div > .contact {
  width: 225px;
  height: 180px;
  border: 1px solid #f4f6fb;
  margin: 0px 10px 40px;
  background: #fff;
}

.emergency_contact > article > div > .contact:nth-child(2){
  position: relative;
  border: none;
}

.emergency_contact > article > div > .contact:nth-child(2)::after{
  content: "";
  position: absolute;
  width: 90%;
  height: 120px;
  top: 50px;
  left: 10px;
  z-index: -1;
  box-shadow: 0px 10px 20px 12px#e8effb;
  border-radius: 15px;
}

.emergency_contact > article > div > .contact > .data-contact {
  padding-left: 30px;
  padding-top: 25px;
  display: flex;
  width: 100%;
}

.active{
  position: relative;
  border: none;
  background: #2949c7;
  color: #fff;
}

.active::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 30px;
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 40px solid transparent;
  box-shadow: 0px 15px 20px rgba(108, 122, 137, 0.3);
}

.emergency_contact > article > div > .contact > .data-contact > span {
  padding: 10px;
  background: #f1f5ff;
  border-radius: 7px;
  color: #2949c7;
}

.emergency_contact > article > div > .contact > .data-contact > .number > b {
  font-size: 18px;
  font-family: "Cerebri Sans";
  color: #1f3e72;
}

.emergency_contact > article > div > .contact > .data-contact > .number > small{
  color: rgba(109,123,147,1.0 );
  font-family: "TT Commons W01";
  font-size: 14px;  
}

.number {
  width: fit-content;
  height: auto;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-contact {
  width: 20px;
}

.emergency_contact > article > div > .contact > button{
  width: 160px;
  height: 47px;
  margin-left: 30px;
  margin-top: 25px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-family: "Rotunda";
  letter-spacing: 0.6px;
}

.not-active {
  background: #f1f5ff;
  color: rgba(54, 86, 212, 255);
  font-weight: 600;
}

.active {
  background: #2949c7;
  color: #fff;
}

/* Footer */
footer {
  background: #eef3ff;
  margin-top: 60px;
}

footer > .up > article {
  width: 30%;
  /* background: yellow; */
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer > .up > article > .title {
  font-size: 27px;
  color: #2d4dcb;
  font-weight: bold;
  font-family: 'Avenir LT Pro 65 Medium';
}

footer > .up > article > .description {
  width: 160px;
  margin-top: 15px;
  font-family: "TT Commons W01";
  color: #77859c;
  line-height: 25px;
  font-size: 17px;
}

footer > .up {
  display: flex;
  justify-content: space-between;
}

footer > .up > div {
  display: flex;
  /* background: tomato; */
  width: 70%;
  padding-top: 50px;
  justify-content: flex-end;
}

footer > .up > div > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  padding-right: 100px;
  font-family: "TT Commons W01";
  font-size: 17px;
  color: #77859c;
}

footer > .up > div > ul > .title-item {
  font-size: 21px;
  font-weight: bold;
  color: #234174;
  font-family: 'Avenir LT Pro 65 Medium';
}

footer > .down {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 100px;
  color: #77859c;
  padding-bottom: 10px;
  font-size: 20px;
  margin-top: 50px;
  position: absolute;
  z-index: 200;
  font-family: "TT Commons W01";
}

footer > .down > p:nth-child(2) > small:nth-child(1) {
  margin-right: 15px;
}

footer > .down > p:nth-child(2) > small:nth-child(2) {
  margin-right: 100px;
}

footer > .triangles {
  display: flex;
  margin-left: auto;
  width: fit-content;
  margin-right: 120px;
}

footer > .triangles > .triangle-down-right {
  width: 100px;
  height: 100px;
  background: linear-gradient(135deg, #eef3ff 50%, #e2e9f9 50%);
  margin-left: auto;
}

footer > .triangles > .triangle-down-left {
  width: 100px;
  height: 100px;
  background: linear-gradient(225deg, #eef3ff 50%, #e2e9f9 50%);
  margin-left: auto;
}
